@charset "utf-8";
/* CSS Document */

.order-table, .order-table th, .order-table td {
    border: 1px solid black;
    width:auto;
    padding: 1px;
}
h2 {
    text-align: center;
}

p {
    padding-left: 30px;
}

.order-table td {
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
}

.error {
    color: red;
    font-weight: bold;
    
}

 section{
    border: 1px dashed #000 !important;
    width: 50%;
    padding-bottom: 5px;

}


